<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Sportflow</title>
	<meta name="author" content="Joao Trindade">
    <link rel=styleSheet href="/media/css/style.css" type="text/css" media=screen>
</head>


<body id="{% block body_id %}{% endblock %}">

<div id="page">

    <div id="logo">
        <img alt="Sportsflow Logo" src="media/images/logo.png"/>
    </div>

	<div id="header">
			<h1><a href="/">Sportflow</a></h1>

			<div class="description">Chamando os nossos atletas campeoes</div>
	</div>

	<div id="mainarea">
	<div id="contentarea">
      <div id="body">
        {% block body %}
          <div>
            <h2>{% block content_title %}{% endblock %}</h2>
            <br><br>
          </div>
          <div class="content">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}
      </div>
    </body>

	</div>

	<div id="sidebar">
		<div id="sidebarnav">
		<a class="active" href="/"><span>Inicio</span></a>
		<a href="/services/"><span>Servicos</span></a>
		<a href="/contacts"><span>Contactos</span></a>
		<a href="/competition/"><span>Competicoes</span></a>
		</div>

		<h2>Visao</h2>
            Na sport flow primamos por fazer informaticos gordos em campeos de primeira classe. Juntamente com carecas viagantes enviamos mensagens de parabens nos dias errados da semana.
		<br/><br/>
            Queres vir experimentar??
		<br/><br/>
		<strong>Cayetano Sanches</strong>
	</div></div>

	<div id="footer">
		Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.dubaiapartments.biz/">Dubai Villas</a>
	</div>

</div>

</html>
